:root {
    --main-button-color: #cc432b;
    --secondary-button-color: #ffffff;
}

.container {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.custom-box {
    padding: 16px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15) !important;
    margin-bottom: 1rem;
    background-color: var(--secondary-button-color) !important;
    border-radius: 0.25rem;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.custom-size {
    width: 100px;
    height: auto;
}

.btn-white {
    background-color: var(--secondary-button-color) !important;
    color: var(--main-button-color) !important;
    margin-right: 15px;
    border: 2px solid var(--main-button-color) !important;
    border-radius: 5px;
}

.btn-danger {
    background-color: #dc3545 !important;
    color: #ffffff !important;
    border-radius: 5px;
    border: 2px solid var(--main-button-color) !important;
}

.custom-button:hover {
    background-color: var(--main-button-color);
    color: var(--secondary-button-color);
}

.secondtitle {
    color: gray !important;
}

/* Media Queries */
@media (max-width: 768px) {
    .container {
      
        align-items: center;
        /* justify-content: center; */
    }

    .flex-between-center {
        /* flex-direction: column; */
    }

    .btn-white, .btn-danger {
        width: 100%;
        margin-right: 18px;
        margin-bottom: 10px;

    }

    .custom-size {
        width: 80px; 
    }
}
